.topmenu ul li.parent:hover{
	background: url(../images/bg_menu_ul.png) no-repeat left bottom ;
	background-position: 40% 90%;
	line-height:50px;

}


.topmenu .menu li ul li.parent:hover{
	background: none;
	background-position: 99% 50%;
	line-height:50px;


}

.topmenu .menu li ul li:first-child a{
	/* border-top:2px solid #193837; */
}

.topmenu ul li ul li.parent{
	/* background: url("../images/bg_icon_li.png") no-repeat scroll 97% 50% #042524; */
}

.topmenu ul li{
	display:inline;
	float:left;
	position:relative;
	height:54px;
	padding: 0 !important;
}
.topmenu li:first-child {
	background:none;

}

.topmenu .menu ul li:first-child a{
	/* border-top:2px solid #193837; */
}

.topmenu ul a{
    float: left;
    font-family: "Trebuchet MS",Arial,Tahoma,Verdana,Helvetica,sans-serif;
    height: 45px;
    letter-spacing: 1px;
    padding: 0 10px;
    text-decoration: none;
	color:#1590cf;
	background: url(../images/border_menu.png) no-repeat center left;
	font-size:15px;
	line-height:45px;
}


.topmenu ul li.active a {
	color:#fcb94e;
	
}

.topmenu ul li.active {
	background: url(../images/bg_menu_active.png) no-repeat center bottom;
	height:54px;
}

.topmenu ul li ul li.active {
	background: none !important;
}

.topmenu ul li ul li.active a {
	color:#fcb94e;

}

.topmenu ul .end a{
	padding-right: 0;
}

.topmenu ul li#current ,.topmenu ul li:hover, .topmenu ul li.selected{
	background:url(../images/home_06.png) no-repeat left top ;
}
.topmenu ul a:hover{
	background:url("../images/border_menu.png") no-repeat scroll left center ;
	color: #fcb94e; 
}

.topmenu ul a:hover span,#topmenu ul a.active span{
	line-height:45px;
	height:45px; background: url(../images/menu-hover.png) repeat-x;
	_height:45px;
}


.topmenu .menu ul{
	position: absolute;
	top:54px;
	/* width: 180px; */
	background: #f3f3f3;
	margin: 0 0 0 -1px;
	padding: 0px;
	display: none;
	z-index: 9999 !important;
	border: 1px solid #084b76;
    box-shadow: 0 3px 7px 2px #084b76;
   -moz-box-shadow: 0 1px 7px 2px #084b76;
    -webkit-box-shadow: 0 1px 7px 2px #084b76;
}


.topmenu .menu ul li ul{
	 /* width: 180px; */
	 border: none;
    box-shadow: 0 3px 7px 2px #084b76;
   -moz-box-shadow: 0 1px 7px 2px #084b76;
    -webkit-box-shadow: 0 1px 7px 2px #084b76;
}
.topmenu .menu ul{
	left: 0px 
	/* width:215px; */
}

.topmenu .menu ul li{
	/* width:270px; */
	margin:auto;
	padding-bottom:2px;
	height:auto;
	width:100%;
	float:left;
}

.topmenu .menu ul li a{
	font-weight:normal;
	height:25px;
	line-height:25px;
	font-size:15px;
	color:#1590cf;
	display:block;
	text-transform: none;letter-spacing: 0;
	padding:0px 17px;
	padding-bottom:5px;
	/* width:250px; */
    font-family: "Trebuchet MS",Arial,Tahoma,Verdana,Helvetica,sans-serif;
	background: none;
    white-space: nowrap;
}

.topmenu .menu ul li a:hover{
	color:#fcb94e;
}
	
}



.topmenu .menu .item-113 ul li a{
	/* width:235px; */
	background: #042524;
}

.topmenu .menu li.selected li,
.topmenu .menu li.selected li a { background: none !important; }
.topmenu .menu ul li.selected,
.topmenu .menu ul li.selected a,
.topmenu .menu ul a:hover,#topmenu .menu li.selected li a:hover{
	color:#fcb94e !important;
	/* background: #d8af3b !important; */
	
	display:block;
}

.topmenu .menu .current {

}

.topmenu .menu ul ul{
	top:auto;
}	

.topmenu .menu li ul ul {
	/* left:215px; */
}
.topmenu .menu ul li ul { 
   /* left: 105px;   */
   /* left: 140px;   */
   left: 100%;  
   /* top: 30px; */
   top: 0;
}
.topmenu .menu ul li ul li a{	color:#9FA2A4 !important;}